<button [type]="type" [ngClass]="[
    'flex w-full items-center justify-center gap-2 rounded-md px-3 py-1.5 text-sm font-semibold text-white',
    color === 'primary' ? 'bg-indigo-500 hover:bg-indigo-400' : '',
    color === 'danger' ? 'bg-red-500 hover:bg-red-400' : '',
    color === 'success' ? 'bg-green-500 hover:bg-green-400' : ''
  ]">

  <!-- Icon Left -->
  <ng-container *ngIf="icon && iconPosition === 'left'">
    <span [innerHTML]="icon"></span>
  </ng-container>

  <ng-content></ng-content>

  <!-- Icon Right -->
  <ng-container *ngIf="icon && iconPosition === 'right'">
    <span [innerHTML]="icon"></span>
  </ng-container>

</button>