<button
  [type]="type"
  class="main-btn"
  [class.main-btn--primary]="color === 'primary'"
  [class.main-btn--danger]="color === 'danger'"
  [class.main-btn--success]="color === 'success'"
>
  <ng-container *ngIf="icon && iconPosition === 'left'">
    <span class="main-btn__icon" [innerHTML]="icon"></span>
  </ng-container>
  <ng-content></ng-content>
  <ng-container *ngIf="icon && iconPosition === 'right'">
    <span class="main-btn__icon" [innerHTML]="icon"></span>
  </ng-container>
</button>
