.diploma-card {

  .diploma-title {
    font-family: Geist Mono;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    background: #155DFC80;
    margin: 10px;
  }

}