<button
  [type]="type"
  class="main-btn"
  [class.main-btn--primary]="color === 'primary'"
  [class.main-btn--danger]="color === 'danger'"
  [class.main-btn--success]="color === 'success'"
  [class.main-btn--ghost]="color === 'ghost'"
  [class.main-btn--outline]="color === 'outline'"
  [class.main-btn--full]="fullWidth"
  [class.main-btn--sm]="size === 'sm'"
  [class.main-btn--lg]="size === 'lg'"
  [class.main-btn--loading]="loading"
  [disabled]="disabled || loading"
>
  <span *ngIf="loading" class="main-btn__spinner"></span>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="icon && iconPosition === 'left'">
      <span class="main-btn__icon" [innerHTML]="icon"></span>
    </ng-container>
    <ng-content></ng-content>
    <ng-container *ngIf="icon && iconPosition === 'right'">
      <span class="main-btn__icon" [innerHTML]="icon"></span>
    </ng-container>
  </ng-container>
</button>

