<form [formGroup]="form" class="form-card">

  <h2 class="form-title">Create a New Password</h2>
  <p class="sub-text">Create a new strong password for your account.</p>

  <div class="field-group">
    <label class="field-label">New Password</label>
    <div class="password-wrapper">
      <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="••••••••"
        class="field-input" />
      <span class="eye-icon" (click)="showPassword = !showPassword">👁</span>
    </div>
  </div>

  <div class="field-group">
    <label class="field-label">Confirm New Password</label>
    <div class="password-wrapper">
      <input formControlName="confirmPassword" [type]="showConfirm ? 'text' : 'password'" placeholder="••••••••"
        class="field-input" />
      <span class="eye-icon" (click)="showConfirm = !showConfirm">👁</span>
    </div>
  </div>

  <p class="error-text" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <p class="success-text" *ngIf="successMessage">
    {{ successMessage }}
  </p>

  <main-btn type="button" [fullWidth]="true" color="primary" [loading]="isLoading" (click)="onReset()">
    Reset Password
  </main-btn>

  <question-link question="Don't have an account?" linkLabel="Create yours" link="/auth/register">
  </question-link>

</form>